<ul class="nav flex-column nav-pills">
  <div  *ngIf="!isLogged">
  <li class="nav-item" >
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  </li>
</div>

  <div *ngIf="isLogged">
    <li class="nav-item" >
      <a class="nav-link" routerLink="/my-profile" routerLinkActive="active">My Profile</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link" routerLink="/my-groups" routerLinkActive="active">My Groups/Clients</a>
</li>
</div>

</ul>
