<div class="container">
  <table class="table table-striped">
    <thead>
        <tr>
          <th>Groups</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups" >
        <td>{{ group.name }}</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped">
    <thead>
        <tr>
          <th>Clients</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients" >
        <td>{{ client.name }}</td>
      </tr>
    </tbody>
  </table>
</div>

